In [1]:
import numpy as np
import pandas as pd

In [4]:
df= pd.read_csv("~/programs/PacHerring/Output/LD/test.csv")

In [5]:
df

  pop_A pop_B
0   A/A   B/B
1   B/B     .
2   A/A   A/A

In [8]:
#read gt_df file
df= pd.read_csv("~/programs/PacHerring/Output/LD/gt_df.csv")

In [11]:
df.replace({'.': 'NA'},inplace =True)

In [13]:
df.head()

,Unnamed: 0,chr1_24227,chr1_24456,chr1_24457,chr1_24484,chr1_28680,chr1_29614,chr1_31248,chr1_33679,chr1_54914,...,chr26_12429085,chr26_12434120,chr26_12437019,chr26_12437267,chr26_12438551,chr26_12438574,chr26_12438956,chr26_12438968,chr26_12439170,chr26_12439236
0,0321_BC17,NA,A/A,A/A,A/A,C/C,NA,C/C,NA,C/C,...,T/T,NA,NA,NA,NA,NA,NA,NA,T/T,T/T
1,0322_BC17,C/C,NA,NA,NA,A/A,NA,C/C,C/C,NA,...,NA,NA,T/T,T/T,A/A,NA,C/C,C/C,T/T,C/C
2,0323_BC17,NA,A/A,A/A,A/A,A/A,A/A,C/C,T/T,NA,...,A/A,NA,NA,T/T,NA,NA,T|T,G|G,A|A,C/C
3,0324_BC17,C/C,A/A,A/A,A/A,A/A,NA,C/C,NA,NA,...,A/A,NA,T/T,T/T,NA,NA,C/C,C/C,T/T,NA
4,0325_BC17,NA,A/A,A/A,A/A,NA,A/A,C/C,NA,NA,...,NA,NA,NA,T/T,A/A,T/T,NA,NA,NA,NA

In [14]:
df.to_csv("~/programs/PacHerring/Output/LD/gt_df_NAreplaced.csv")